<div class="hex">
<img src="images/logo_noborder.svg" class="speaker"/>
	<h1> sonic alliance </h1>


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//sonicalliance.us11.list-manage.com/subscribe/post?u=5d6a15238af8cbf9437ee60ea&amp;id=013cd567a0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate	" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>begin transmission</h2>
<div class="mc-field-group">
	<input type="email" placeholder="email address" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>   
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_5d6a15238af8cbf9437ee60ea_013cd567a0" tabindex="-1" value=""></div>
    <input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="btn">
    </div>
</form>
</div>
<div>