<!DOCTYPE html>
<html>
<head>
	<title>sonic alliance</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/shapes.css"/>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>