<%= form_for @user, {url: session_path} do |f| %>
		<p><%= f.text_field :email, placeholder: "email" %>
		<%= f.password_field :password, placeholder: "password" %></p>
		<p><%= f.submit "Log In" %></p>


<% end %>