.hex:before {
    content: "";
    width: 0; height: 0;
    border-bottom: 120px solid black;
    border-left: 208px solid transparent;
    border-right: 208px solid transparent;
    position: absolute;
    top: -120px;
}

.hex {
    margin: 20% auto;
    width: 416px;
    height: 240px;
    background-color: black;
    position: relative;
}

.hex:after {
    content: "";
    width: 0; height: 0;
    position: absolute;
    bottom: -120px;
    border-top: 120px solid black;
    border-left: 208px solid transparent;
    border-right: 208px solid transparent;
}

.speaker {
    width: 180%;
    margin: -40px auto;
    position: absolute;
}

